
      <%= render  "shared/navbar" %>

  <div class="user-earning">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>View Offers</h2>


          <div class="user-earing-item">
            <h5 class="mb-3">Manage recieved offers</h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Seller Name</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Delivery in</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                   <% if @offers.blank? %>
                   <tr>
    <td colspan="4" class="has-text-centered"><h2>NOTHING TO SHOW HERE</h2></td>
</tr>
<% end %>

<% @offers.each do |o| %>
                  <tr>
                    <td><%= o.created_at.strftime('%d, %b %Y') %></td>
                    <td>                            <figure class="image is-48x48">
                                <%= image_tag avatar_url(o.user), class: "is-rounded" %>
                            </figure>
                          </td>
                    <td> <%= o.note %>
                          </td>
                          <td>SEK<%= o.amount %></td>
                                                  <td><%= pluralize(o.days, 'day') %></td>
                                                  <td>
                                                      <span class="tag <%= 'text-warning' if o.pending? %>
                                                                       <%= 'text-success' if o.accepted? %>
                                                                       <%= 'text-danger' if o.rejected? %> ">
                                                          <%= o.status.capitalize %>
                                                      </span>
                                                  </td>
                                                  <td>
                                                      <%= link_to accept_offer_path(o), method: :put,
                                                                  data: { confirm: "Are you sure?" },
                                                                  class: "btn btn-small text-success btn-outline #{'is-hidden' if !o.pending?}" do %>
                                                          <span class="icon"><i class="far fa-check fa-lg"></i></span>
                                                          <span>Accept</span>
                                                      <% end %>

                                                      <%= link_to reject_offer_path(o), method: :put,
                                                                  data: { confirm: "Are you sure?" },
                                                                  class: "btn btn-small text-danger btn-outline #{'is-hidden' if !o.pending?}" do %>
                                                          <span class="icon"><i class="far fa-trash-alt fa-lg"></i></span>
                                                          <span>Reject</span>
                                                      <% end %>
                                                  </td>
                                              </tr>
                                          <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h2>Contact Info</h2>
          <ul>
            <li>Phone: 125 1254 1245</li>
            <li>Email: demo@gmail.com</li>
            <li>Address: 24 kda New York, US</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Useful link</h2>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Others link</h2>
          <ul>
            <li><a href="#">Rewards club</a></li>
            <li><a href="#">Contact us via app</a></li>
            <li><a href="#">Customer service</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Business</h2>
          <ul>
            <li><a href="#">Partner directory</a></li>
            <li><a href="#">Become a partner</a></li>
            <li><a href="#">Business support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
