<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <title>Bizlution</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <%# <header class="login-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><img src="assets/img/logo.svg" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown megamenu-li dmenu">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Services</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
              <div class="row">
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Ecommerce</h6>
                  <a class="dropdown-item" href="#"> Magento Development</a>
                  <a class="dropdown-item" href="#"> Magento 2 Migration</a>
                  <a class="dropdown-item" href="#"> Odoo ERP</a>
                  <a class="dropdown-item" href="#"> Mobile Commerce</a>
                  <a class="dropdown-item" href="#"> CRM for Commerce</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>LAMP Technology</h6>
                  <a class="dropdown-item" href="#"> PHP Website Development</a>
                  <a class="dropdown-item" href="#"> Phalcon Development</a>
                  <a class="dropdown-item" href="#"> Laravel Development</a>
                  <a class="dropdown-item" href="#"> WordPress Development</a>
                  <a class="dropdown-item" href="#"> Symfony Development</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Mobile</h6>
                  <a class="dropdown-item" href="#"> iPhone App Development</a>
                  <a class="dropdown-item" href="#"> Android App Development</a>
                  <a class="dropdown-item" href="#"> Phone Gap App Development</a>
                  <a class="dropdown-item" href="#"> Hybrid App Development</a>
                  <a class="dropdown-item" href="#"> Ionic Development</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Node.js & MongoDB</h6>
                  <a class="dropdown-item" href="#"> Full Stack Development</a>
                  <a class="dropdown-item" href="#"> MEAN Stack</a>
                  <a class="dropdown-item" href="#"> AngularJS</a>
                  <a class="dropdown-item" href="#"> Node.JS Development</a>
                  <a class="dropdown-item" href="#"> MongoDB Development</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Microsoft Technology</h6>
                  <a class="dropdown-item" href="#"> Microsoft App Development</a>
                  <a class="dropdown-item" href="#"> MS Desktop App Development</a>
                  <a class="dropdown-item" href="#"> SharePoint Development</a>
                  <a class="dropdown-item" href="#"> ASP.NET Development</a>
                  <a class="dropdown-item" href="#"> CMS Development</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Cloud Services</h6>
                  <a class="dropdown-item" href="#"> DevOps</a>
                  <a class="dropdown-item" href="#"> Amazon Web Services</a>
                  <a class="dropdown-item" href="#"> Azure Cloud Service</a>
                  <a class="dropdown-item" href="#"> Google App Engine Services</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Enterprise Services</h6>
                  <a class="dropdown-item" href="#"> Augmented Reality</a>
                  <a class="dropdown-item" href="#"> CRM</a>
                  <a class="dropdown-item" href="#"> Enterprise Mobility
                    Services</a>
                  <a class="dropdown-item" href="#"> Blockchain Services</a>
                  <a class="dropdown-item" href="#"> Business Intelligence</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Digital Marketing</h6>
                  <a class="dropdown-item" href="#"> Digital Marketing</a>
                  <a class="dropdown-item" href="#"> PPC Management Services</a>
                  <a class="dropdown-item" href="#"> E-commerce SEO Services</a>
                  <a class="dropdown-item" href="#"> Conversion Rate Optimization</a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu-li dmenu">
            <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Ready for business</a>
            <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
              <div class="row">
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Microsoft Technology</h6>
                  <a class="dropdown-item" href="#"> Microsoft App Development</a>
                  <a class="dropdown-item" href="#"> MS Desktop App Development</a>
                  <a class="dropdown-item" href="#"> SharePoint Development</a>
                  <a class="dropdown-item" href="#"> ASP.NET Development</a>
                  <a class="dropdown-item" href="#"> CMS Development</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Cloud Services</h6>
                  <a class="dropdown-item" href="#"> DevOps</a>
                  <a class="dropdown-item" href="#"> Amazon Web Services</a>
                  <a class="dropdown-item" href="#"> Azure Cloud Service</a>
                  <a class="dropdown-item" href="#"> Google App Engine Services</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Enterprise Services</h6>
                  <a class="dropdown-item" href="#"> Augmented Reality</a>
                  <a class="dropdown-item" href="#"> CRM</a>
                  <a class="dropdown-item" href="#"> Enterprise Mobility
                    Services</a>
                  <a class="dropdown-item" href="#"> Blockchain Services</a>
                  <a class="dropdown-item" href="#"> Business Intelligence</a>
                </div>
                <div class="col-sm-6 col-lg-3 cus-content mb-4">
                  <h6>Digital Marketing</h6>
                  <a class="dropdown-item" href="#"> Digital Marketing</a>
                  <a class="dropdown-item" href="#"> PPC Management Services</a>
                  <a class="dropdown-item" href="#"> E-commerce SEO Services</a>
                  <a class="dropdown-item" href="#"> Conversion Rate Optimization</a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Save with bizlution</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="menu-user-profile"><img src="assets/img/avatar.svg" alt="avatar"> Jon Doe</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Manage Requests</a>
              <a class="dropdown-item" href="#">Post a Request</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Help & Support</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header> %>
    <%= render  "shared/navbar" %>

  <div class="user-earning">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Manage Selling Orders</h2>


          <div class="user-earing-item">
            <h5 class="mb-3"></h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Buyer Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                   <% if @orders.blank? %>
                   <tr>
    <td colspan="4" class="has-text-centered"><h1>NOTHING TO SHOW HERE</h1></td>
             </tr>
        <% end %>
               <% @orders.each do |o| %>
                  <tr>
                    <td><%= o.created_at.strftime('%d, %b %Y') %></td>
                    <td><%= o.buyer_name %></td>
                    <td><%= link_to o.title, order_detail_path(o) %></td>
                    <td><%= o.due_date.strftime('%d %b %Y') %></td>
                    <td><%= o.amount %></td>
                     <td><span class="tag <%= 'btn btn-danger' if o.inprogress? %> <%= 'btn btn-success' if o.completed? %>">
                               <%= o.status.capitalize %>
                        </span>
                     </td>

                    </tr>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h2>Contact Info</h2>
          <ul>
            <li>Phone: 125 1254 1245</li>
            <li>Email: demo@gmail.com</li>
            <li>Address: 24 kda New York, US</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Useful link</h2>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Others link</h2>
          <ul>
            <li><a href="#">Rewards club</a></li>
            <li><a href="#">Contact us via app</a></li>
            <li><a href="#">Customer service</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Business</h2>
          <ul>
            <li><a href="#">Partner directory</a></li>
            <li><a href="#">Become a partner</a></li>
            <li><a href="#">Business support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- scripts -->
  <script>
      $('.toggle-modal').on('click', (e) => {
          e.stopPropagation();
          e.preventDefault();

          var order_id = e.target.getAttribute('aria-control');
          $('#star_' + order_id).raty({
              path: '/assets/raty-js/lib/images',
              scoreName: 'review[stars]',
              score: 1
          });
          $('#star_' + order_id).raty('reload');
          $('#' + order_id).toggleClass('is-active');
      });
  </script>
</body>

</html>
