<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
  <%= render  "shared/navbar" %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<div class="gig-view-full">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="c-shadow">
          <h3><%= @gig.title %></h3>
          <hr>
                                <div class="hero-carousel" id="carousel-photo">
                                    <% @gig.photos.each do |photo| %>
                                        <div class="carousel-item has-background image is-16by9">
                                            <%= image_tag url_for(photo), class: "is-background", width: "100%" %>
                                        </div>
                                    <% end %>
                                    <% if @gig.video.present? %>
                                        <div class="video-container">
                                            <iframe src="https://www.youtube.com/embed/<%= @gig.video %>" allowfullscreen></iframe>
                                        </div>
                                    <% end %>
                                </div>
        </div>
        <div class="c-shadow mt-4 mb-4">
          <h3>About This Gig</h3>
          <hr>
          <p class="mb-3"><%= @gig.description %></p>

        </div>

      </div>
      <div class="col-md-4">
        <div class="c-shadow gig-view-tab mb-4">
              <div class="tabs" id="tabs">
                <ul nav="nav" nav-tabs="nav-tabs">
                  <% Pricing.pricing_types.each do |key, value| %>
                    <li class="tab <%= 'is-active' if value == 0 %> " data-tab="<%= key %>" style="<%= 'display: none' if @gig.has_single_pricing && value != 0 %>">
                      <a><%= key.capitalize %></a>
                    </li>
                  <% end %>
                </ul>
              </div>

                      <% @gig.pricings.each do |p| %>
                        <div class="tab-content" id="tab-<%= p.pricing_type %>" style="<%= 'display: none' if !p.basic? %>">

                              <div class="media">
                                <div class="media-content">
                                  <strong><%= p.title %></strong>
                                </div>
                                <div class="media-right">
                                  <p class="title is-4">SEK<%= p.price %></p>
                                </div>
                              </div>
                              <div class="content f-15">
                                <p class="m-t-30"><%= p.description %></p>
                                <p class="m-t-30">
                                  <strong>
                                    <i class="far fa-clock"></i>
                                    <%= pluralize(p.delivery_time, 'Day') %>
                                    Delivery</strong>
                                </p>
                              </div>
                              <% if (!user_signed_in? && @gig.active) || (user_signed_in? && @gig.active && @gig.user_id != current_user.id) %>
                                <%= link_to "Continue (SEK#{p.price})", checkout_path(id: @gig.id, pricing_type: p.pricing_type), class: "button is-fullwidth is-danger" %>
                              <% else %>
                                <button class="btn" disabled="disabled">Not Available</button>
                              <% end %>

                        </div>
                      <% end %>

      </div>

                      <div class="job-profile-info">
                      <%= link_to users_path(@gig.user) do %>
                      <%= image_tag avatar_url(@gig.user), class: "rounded" %>
                    <% end %>
                    <div class="text-center mb30">
                      <h2><%= @gig.user.full_name %>
                      </h2>
                      <a href="tel:123-456-7890" class="job-profile-rating c-btn c-white d-table mt-3 mx-auto">Contact</a>
                    </div>
                    <hr>
                    <ul>
                      <li>Member since
                        <strong><%= @gig.user.created_at.strftime('%b %Y') %></strong>
                      </li>
                      <li>From
                        <strong><%= @gig.user.from %></strong>
                      </li>
                    </ul>
              </div>
      </div>


  </div>
</div>
</div>


<!-- scripts -->

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>

<script>
BulmaCarousel.attach('#carousel-photo', {
slidesToScroll: 1,
slidesToShow: 1
});

$(document).ready(function () {
$('#tabs li').on('click', function () {
  var type = $(this).data('tab');

  $('#tabs li').removeClass('is-active');
  $(this).addClass('is-active');

  $('.tab-content').hide();
  $('#tab-' + type).show();
})
})

$('#myTab a').on('click', function (e) {
e.preventDefault()
$(this).tab('show')
})
</script>
